<a href="https://colab.research.google.com/github/Drishika-Nadella/Krittika-IITB-Assignments/blob/master/Assignment3_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import math
url="https://raw.githubusercontent.com/krittikaiitb/tutorials/2878a43df2b210fa5cb15aff2b1efa68d5478439/Tutorial_3/galaxies.csv"
df = pd.read_csv(url)
print(df.head())
H=70
c=3*(10**5)

#Finding distance to a galaxy
def distance(serial):
  result=df.loc[df["# mangaid"]==serial]
  #return float(result["redshift"].to_string(index=False))*c/H
  return result["redshift"]*c/H
user_wants=input("Enter the serial no.: ")
print(distance(int(user_wants)))

#Number of galaxies observed
def number_gal(val1,val2):
  fin_list=list()
  my_list=list(distance(df["# mangaid"]))
  for item in my_list:
    if np.logical_and(item>=val1,item<=val2):
      fin_list.append(item)
  print(len(fin_list))
number_gal(200,210)

#Physical separation between 2 galaxies
def separation(se1,se2):
  result1=df.loc[df["# mangaid"]==se1]
  dec1=float(result1["objdec"].to_string(index=False))
  dec11=dec1*np.pi/180.0
  ra1=float(result1["objra"].to_string(index=False))
  ra11=ra1*np.pi/180.0
  result2=df.loc[df["# mangaid"]==se2]
  dec2=float(result2["objdec"].to_string(index=False))
  dec22=dec2*np.pi/180.0
  ra2=float(result2["objra"].to_string(index=False))
  ra22=ra2*np.pi/180.0
  final=np.sin(dec11)*np.sin(dec22)+np.cos(dec11)*np.cos(dec22)*np.cos(ra11-ra22)
  side1=float(distance(se1).to_string(index=False))
  side2=float(distance(se2).to_string(index=False))
  return (side1**2+side2**2-2*side1*side2*final)**0.5

num1=input("Enter serial no. 1: ")
n1=int(num1)
num2=input("Enter serial no. 2: ")
n2=int(num2)
separation(n1,n2)

   # mangaid      objra     objdec  redshift
0          1  133.37110  57.598427  0.039515
1          2  133.68567  57.480250  0.041056
2          3  136.01717  57.092330  0.046571
3          4  133.98996  57.677967  0.014351
4          5  136.75137  57.451435  0.046406
Enter the serial no.: 1000
999    160.183997
Name: redshift, dtype: float64
118
Enter serial no. 1: 1000
Enter serial no. 2: 2000

169.98296087273417